<p>
  Server information
</p>

<div>
  <label>First Name</label>
  <input type="text" name="First Name" />
</div>

<!-- <table class="table">
  <thead>
    <th>ServerName</th>
    <th>ServerIP</th>
    <th>ServerLocation</th>
    <th>ServerTime</th>
  </thead>
  <tbody *ngIf='serverInfo'>
    <td>
      {{serverInfo.serverName}}
    </td>
    <td>
      {{serverInfo.serverIp}}
    </td>
    <td>
      {{serverInfo.serverLocation}}
    </td>
    <td>
      {{serverInfo.formattedTime}}
    </td>
  </tbody>
</table> -->
