<div class="container">
  <div class="row">
      <form>
          <div class="form-group">
            <label data-error="error message here....." for="firstName">First Name</label>
            <input type="text" class="form-control validate" id="firstName" 
                  name="firstName" #Firstname="ngModel" [(ngModel)]="registerModel.FirstName" required />
          </div>
        
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control validate" id="firstName" 
                    name="lastName" #LastName="ngModel" [(ngModel)]="registerModel.LastName" required />
    
          </div>
        
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control validate" id="email" 
                    name="email" #Email="ngModel" [(ngModel)]="registerModel.Email" 
                    [pattern]="emailPattern" required /> 
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
  </div>
    
</div>
